<%= content_for :meta_title, 'Websites' %>

<div class="overflow-hidden w-screen fixed top-0 h-full"
     data-controller="carousel"
     data-action="keyup@window->carousel#previousSlide keyup@window->carousel#nextSlide"
     data-carousel-current-value="0"
     data-carousel-next-value="1"
     data-carousel-previous-value="-1"
     data-carousel-next-class="next"
     data-carousel-previous-class="previous">
  <% @websites.each_with_index do |websites, index| %>
    <div class="websites <%= class_names(active: index.zero?, next: index.positive?) %>"
         data-index="<%= index %>"
         data-carousel-target="slide">
      <div class="grid grid-cols-2 grid-rows-2">
        <%= render Websites::WebsitesComponent.new(websites: websites) %>
      </div>
    </div>
  <% end %>
  <%= render Websites::NavComponent.new %>
</div>
