<div class="mb-3">
  <span class="text-sm text-gray-500"><%= date %></span>
  <h4><%= education.degree %></h4>
  <span class="text-sm text-gray-700"><%= school.name %> - <%= school.city %></span>
  <p><%= education.description %></p>
</div>
