<div class="mb-3">
  <span class="text-sm text-gray-500 <%= 'font-75' unless download %>"><%= date %></span>
  <h4 class="text-black <%= 'font-75' unless download %>"><%= education.degree %></h4>
  <span class="text-sm text-gray-700 <%= 'font-75' unless download %>"><%= school.name %> - <%= school.city %></span>
  <div class="<%= 'font-75' unless download %>"><%= education.description %></div>
</div>
