<div class="mb-1">
  <span class="text-sm text-gray-400 <%= 'font-12p !text-gray-500' unless download %>"><%= date %></span>
  <p class="font-bold text-sm text-white <%= 'font-12p !text-gray-900' unless download %>"><%= education.degree %></p>
  <span class="text-sm text-gray-400 <%= 'font-12p !text-gray-700' unless download %>"><%= school.name %> - <%= school.city %></span>
  <div class="text-sm text-gray-200 <%= 'font-10p !text-gray-700' unless download %>"><%= education.description %></div>
</div>
