<%= content_for :meta_title, "Experiences" %>

<div class="container p-10 bg-white rounded shadow-lg cv">
  <div class="flex justify-between align-bottom">
    <div>
      <h1 class="uppercase mb-5">lucien george</h1>
      <h3 class="uppercase">fullstack developer</h3>
    </div>
    <div class="flex flex-col justify-end">
      <%= link_to User::GITHUB_URL do %>
        <span class="text-black"><i class="fab fa-github"></i> /lucien-george</span>
      <% end %>
      <%= link_to User::LINKEDIN_URL do %>
        <span class="text-black"><i class="fab fa-linkedin-in"></i> /luciengeorge</span>
      <% end %>
    </div>
  </div>
  <hr class="my-5">
  <div class="grid grid-cols-3">
    <div class="col-span-1">
      <div>
        <div class="relative inline-block mb-3">
          <h4 class="mb-3 font-normal uppercase mb-1">Contact</h4>
          <div class="absolute bottom-0 left-0 bg-gray-900 w-1/2 h-0.5"></div>
        </div>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-700 mb-2"><i class="fal fa-phone-alt mr-2"></i><%= link_to '+44 7845 714513', 'tel:+447845714513', class:'text-gray-700' %></span>
        <span class="text-sm text-gray-700 mb-2"><i class="fal fa-envelope mr-2"></i><%= link_to 'me@lucien-george.com', 'mailto:me@lucien-george.com', class:'text-gray-700' %></span>
        <span class="text-sm text-gray-7-- mb-2"><i class="fal fa-map-marker-alt mr-2"></i>London, UK</span>
      </div>
      <div>
        <div class="relative inline-block my-3">
          <h4 class="mb-3 font-normal uppercase mb-1">Education</h4>
          <div class="absolute bottom-0 left-0 bg-gray-900 w-1/2 h-0.5"></div>
        </div>
      </div>
      <div>
        <div class="relative inline-block my-3">
          <h4 class="mb-3 font-normal uppercase mb-1">Programming</h4>
          <div class="absolute bottom-0 left-0 bg-gray-900 w-1/2 h-0.5"></div>
        </div>
      </div>
      <div>

      </div>
      <div>
        <div class="relative inline-block my-3">
          <h4 class="mb-3 font-normal uppercase mb-1">Languages</h4>
          <div class="absolute bottom-0 left-0 bg-gray-900 w-1/2 h-0.5"></div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="relative inline-block mb-3">
        <h4 class="mb-3 font-normal uppercase mb-1">Experiences</h4>
        <div class="absolute bottom-0 left-0 bg-gray-900 w-1/2 h-0.5"></div>
      </div>
      <div class="flow-root">
        <ul class="-mb-8">
          <% @experiences.each_with_index do |experience, index| %>
            <%= render Experiences::ExperienceComponent.new(
                  experience: experience,
                  previous_experience: index.zero? ? nil : @experiences[index - 1],
                  next_experience: index == @experiences.size - 1 ? nil : @experiences[index + 1]
                ) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
