<nav class="flex w-full items-center justify-between px-4 py-4 z-50 relative" data-controller="menu" data-menu-active-class="active">
  <%= image_tag 'logo.svg', class: 'logo' %>
  <div class="menu-wrapper relative" data-action="click->menu#toggle keyup@window->menu#toggle">
    <div class="menu-ring" data-menu-target="ring">
      <div class="cube-wrapper" data-menu-target="cubeWrapper">
        <div class="cube">
          <div class="face top" data-menu-target="face"></div>
          <div class="face bottom" data-menu-target="face"></div>
          <div class="face left" data-menu-target="face"></div>
          <div class="face right" data-menu-target="face"></div>
          <div class="face front" data-menu-target="face"></div>
          <div class="face back" data-menu-target="face"></div>
        </div>
      </div>
    </div>
    <div class="menu" data-menu-target="menu">
      <%= link_to root_path, class: class_names('nav-link', { active: current_page?(root_path), '!border-black': current_page?(websites_path) }) do %>
        <i class="fal fa-home-alt link-icon <%= class_names('!text-black': current_page?(websites_path)) %>"></i>
      <% end %>
      <%= link_to repos_path, class: class_names('nav-link', { active: current_page?(repos_path), '!border-black': current_page?(websites_path) }) do %>
        <i class="fab fa-github link-icon <%= class_names('!text-black': current_page?(websites_path)) %>"></i>
      <% end %>
      <%= link_to experiences_path, class: class_names('nav-link', { active: current_page?(experiences_path), '!border-black': current_page?(websites_path) }) do %>
        <i class="fal fa-file-user link-icon <%= class_names('!text-black': current_page?(websites_path)) %>"></i>
      <% end %>
      <%= link_to websites_path, class: class_names('nav-link', { active: current_page?(websites_path), '!border-black': current_page?(websites_path) }) do %>
        <i class="fal fa-browser link-icon <%= class_names('!text-black': current_page?(websites_path)) %>"></i>
      <% end %>
      <% if user_signed_in %>
        <%= link_to new_website_path, class: class_names('nav-link', { active: current_page?(new_website_path), '!border-black': current_page?(websites_path) }) do %>
          <div class="relative">
            <i class="fal fa-browser link-icon <%= class_names('!text-black': current_page?(websites_path)) %>"></i>
            <i class="fal fa-plus link-icon absolute text-base bottom-0.5 right-2 <%= class_names('!text-black': current_page?(websites_path)) %>"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
