<div data-controller="menu" data-menu-active-class="active" data-menu-scale-class="scale-0" data-menu-open-class="open">
  <div class="fixed w-screen h-screen z-50 transform transition-none scale-0 flex items-center justify-center"
       data-menu-target="background"
       data-action="click->menu#toggle">
    <div class="bg-black opacity-60 absolue w-screen h-screen"></div>
    <div class="menu active grid grid-cols-2" data-menu-target="menu">
      <%= link_to root_path, class: class_names('nav-link nav-link__home'), data: { menu_target: 'link', controller: 'tippy', tippy_content_value: 'Home' } do %>
        <i class="fal fa-home-alt link-icon"></i>
      <% end %>
      <%= link_to websites_path, class: class_names('nav-link nav-link__websites'), data: { menu_target: 'link', controller: 'tippy', tippy_content_value: 'Websites' } do %>
        <i class="fal fa-browser link-icon"></i>
      <% end %>
      <%= link_to experiences_path, class: class_names('nav-link nav-link__resume'), data: { menu_target: 'link', controller: 'tippy', tippy_content_value: 'Resume' } do %>
        <i class="fal fa-file-user link-icon"></i>
      <% end %>
      <%= link_to repos_path, class: class_names('nav-link nav-link__repos'), data: { menu_target: 'link', controller: 'tippy', tippy_content_value: 'Github Repositories' } do %>
        <i class="fab fa-github link-icon"></i>
      <% end %>
      <% if user_signed_in %>
        <%= link_to new_website_path, class: class_names('nav-link nav-link__new-website'), data: { menu_target: 'link', controller: 'tippy', tippy_content_value: 'New Website' } do %>
          <i class="fal fa-plus link-icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <nav class="flex w-full items-center justify-between p-4 z-50 relative">
    <%= link_to root_path do %>
      <%= image_tag 'logo.svg', class: 'logo', alt: 'logo' %>
    <% end %>
    <div class="flex items-center">
      <% if current_page?(root_path) %>
        <%= link_to '#', class: 'inline-block text-black mr-10 z-10', data: { action: 'click->styles#skip', controller: 'tippy', tippy_content_value: 'Skip animation', styles_target: 'skipCta', disable_with: 'skipping...' } do %>
          <i class="fal fa-lg fa-fast-forward"></i>
        <% end %>
      <% end %>
      <div class="burger burger-rotate" data-action="click->menu#toggle keyup@window->menu#toggle" data-menu-target="burger">
        <div class="burger-lines"></div>
      </div>
    </div>
  </nav>
</div>
