<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/meta' %>

    <%= stylesheet_link_tag 'https://pro.fontawesome.com/releases/v5.15.3/css/all.css', integrity: Rails.application.credentials.font_awesome_integrity, crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", media: 'all', "data-turbo-track": "reload" %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8YLBT9M560"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= class_names('!bg-white': current_page?(websites_path) && !browser.device.mobile?) %>">
    <div data-controller="lazy-loader <%= 'styles markdown' if current_page?(root_path) %>"
         data-markdown-img-url-value="https://s3.eu-west-2.amazonaws.com/lucien-george.com/static/me.png"
         data-styles-no-transition-class="noTransition"
         data-action="styles-done->markdown#start markdown-done->styles#transition styles-transition-done->markdown#render markdown-rendered->styles#renderSuccess">
      <%= render FlashesComponent.new(notice: notice, alert: alert) %>
      <%= render Navbar::BaseComponent.new(user_signed_in: user_signed_in?) %>
      <%= yield %>
    </div>
  </body>
</html>
