<!DOCTYPE html>
<html>
  <head>
    <title>Lucien George</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" integrity="<%= Rails.application.credentials.font_awesome_integrity %>" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div data-controller="lazy-loader">
      <%= render FlashesComponent.new(notice: notice, alert: alert) %>
      <%= render Navbar::BaseComponent.new %>
      <%= yield %>
    </div>
  </body>
</html>
