<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/meta' %>

    <%= stylesheet_link_tag 'https://pro.fontawesome.com/releases/v5.15.3/css/all.css', integrity: Rails.application.credentials.font_awesome_integrity, crossorigin: 'anonymous' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tippy.js@6/themes/light.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@animated-burgers/burger-rotate@1.1.2/dist/styles.min.css">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@14/dist/markdown-it.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6.3.7/dist/tippy.umd.min.js"></script>

    <%= javascript_importmap_tags %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8YLBT9M560"></script>
  </head>

  <body class="<%= class_names('!bg-white': current_page?(websites_path) && !browser.device.mobile?) %>">
    <div data-controller="<%= 'styles markdown' if current_page?(root_path) %>"
         data-markdown-img-url-value="https://s3.eu-west-2.amazonaws.com/lucien-george.com/static/me.png"
         data-styles-no-transition-class="noTransition"
         data-action="styles-done->markdown#start markdown-done->styles#transition styles-transition-done->markdown#render markdown-rendered->styles#renderSuccess">
      <%= render FlashesComponent.new(notice: notice, alert: alert) %>
      <%= render Navbar::BaseComponent.new(user_signed_in: user_signed_in?) %>
      <%= yield %>
    </div>
  </body>
</html>
