<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/meta' %>

    <%= stylesheet_link_tag 'https://pro.fontawesome.com/releases/v5.15.3/css/all.css', integrity: Rails.application.credentials.font_awesome_integrity, crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    
    <!-- Basic JavaScript via CDN -->
    <script src="https://unpkg.com/@hotwired/turbo@7.3.0/dist/turbo.es2017-umd.js"></script>
    <script src="https://unpkg.com/@hotwired/stimulus@3.2.2/dist/stimulus.umd.js"></script>
    
    <!-- Basic Stimulus setup -->
    <script>
      window.Stimulus = Application.start()
      
      // Basic viewport height calculation
      document.addEventListener('turbo:load', () => {
        const vh = window.innerHeight * 0.01
        document.documentElement.style.setProperty('--vh', `${vh}px`)
      })
    </script>
    
    <%# Temporarily disabled while fixing asset issues %>
    <%# javascript_importmap_tags %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8YLBT9M560"></script>
  </head>

  <body class="<%= class_names('!bg-white': current_page?(websites_path) && !browser.device.mobile?) %>">
    <div data-controller="<%= 'styles markdown' if current_page?(root_path) %>"
         data-markdown-img-url-value="https://s3.eu-west-2.amazonaws.com/lucien-george.com/static/me.png"
         data-styles-no-transition-class="noTransition"
         data-action="styles-done->markdown#start markdown-done->styles#transition styles-transition-done->markdown#render markdown-rendered->styles#renderSuccess">
      <%= render FlashesComponent.new(notice: notice, alert: alert) %>
      <%= render Navbar::BaseComponent.new(user_signed_in: user_signed_in?) %>
      <%= yield %>
    </div>
  </body>
</html>
